/* ============================================= */
/*              Media Queries                    */
/* ============================================= */
@media (min-width: 768px) {
  /* line 6, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .container {
    max-width: 1400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 13, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 19, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .row {
    flex-direction: row;
  }
  /* line 23, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  [class^=col] {
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
  }
  /* line 30, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  [class^=col] + [class^=col] {
    margin-left: 10px;
  }
  /* line 34, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .col-1 {
    flex-basis: 8.33%;
  }
  /* line 38, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .col-2 {
    flex-basis: 16.67%;
  }
  /* line 42, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .col-3 {
    flex-basis: 25.00%;
  }
  /* line 46, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .col-4 {
    flex-basis: 33.33%;
  }
  /* line 50, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .col-5 {
    flex-basis: 41.67%;
  }
  /* line 54, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .col-6 {
    flex-basis: 50.00%;
  }
  /* line 58, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .col-7 {
    flex-basis: 58.33%;
  }
  /* line 62, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .col-8 {
    flex-basis: 66.67%;
  }
  /* line 66, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .col-9 {
    flex-basis: 75.00%;
  }
  /* line 70, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .col-10 {
    flex-basis: 83.33%;
  }
  /* line 74, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .col-11 {
    flex-basis: 91.67%;
  }
  /* line 78, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .col-12 {
    flex-basis: 100%;
  }
  /* line 82, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .nav {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  /* line 88, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .nav-link {
    flex-basis: 100px;
  }
  /* line 92, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .btn {
    padding: 10px 30px;
  }
  /* line 96, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .btn + .btn {
    margin-left: 10px;
  }
  /* line 100, ../../../../../Users/emowtion/Documents/Treehouse/FrontEnd-P4/scss/component/ _media-queries.scss */
  .logo {
    margin-left: initial;
    margin-right: initial;
  }
}

/*# sourceMappingURL= _media-queries.css.map */